@*@model BookShop.ModelViews.MuaHangSuccessVM
*@@{
    ViewData["Title"] = "Mua hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<BookShop.ModelViews.CartItem> Carts = ViewBag.GioHang;

}

<div class="container row mx-auto py-20">
    <div class="container py-10 d-flex align-items-center justify-content-center">
        <img class="w-10" src="~/images/check.png" />
        <h1 class="mb-0 ms-4"> Đặt hàng thành công!</h1>
    </div>
    <h2>Đơn hàng: </h2>
    <table class="table ms-20">
        <thead>
            <tr>
                <th class="cart-product-name">SẢN PHẨM</th>
                <th class="cart-product-total">THÀNH TIỀN</th>
            </tr>
        </thead>
        <tbody>
            @if (Carts.Count() > 0)
            {
                foreach (var item in Carts)
                {
                    <tr class="cart_item">
                        <td class="cart-product-name">
                            @item.product.ProductName<strong class="product-quantity">
                                × @item.amount
                            </strong>
                        </td>
                        <td class="cart-product-total"><span class="amount">@item.TotalMoney.ToString("#,##0") VNĐ</span></td>
                    </tr>
                }
            }


        </tbody>
        <tfoot>
            <tr class="order-total">
                <th>TỔNG ĐƠN HÀNG</th>
                <td><strong><span class="amount">@Carts.Sum(x => x.TotalMoney).ToString("#,##0") VNĐ</span></strong></td>
            </tr>
        </tfoot>
    </table>
</div>

@*<div class="bg-gray-weak">
    <div class="container">
        <nav class="py-4 lh-30px" aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center py-1">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thông tin mua hàng</li>
            </ol>
        </nav>
    </div>
</div>
<main class="main-content">
    <h1 class="text-center my-15">THÔNG TIN MUA HÀNG</h1>
    <div class="checkout-area section-space-y-axis-100">
        <div class="container">
            <form>

                <div class="row">
                    <div class="col-lg-6 col-12">

                        <div class="checkbox-form">
                            <h3 class="bg-success py-5 px-7 rounded-2" style="width:max-content;">Đặt hàng thành công</h3>
                            <p>Mã đơn hàng: #@Model.DonHangID</p>
                            <p>Cảm ơn bạn đã đặt hàng</p>
                            <br />
                            <h3>THÔNG TIN ĐƠN HÀNG</h3>
                            <p>Thông tin giao hàng</p>
                            <p>Người nhận hàng: @Model.FullName</p>
                            <p>Số điện thoại: @Model.Phone</p>
                            <p>Địa chỉ: @Model.Address</p>
                            <br />
                            Để xem chi tiết đơn hàng vui lòng truy cập vào <a asp-controller="Accounts" asp-action="Dashboard"><strong>Tài khoản cá nhân.</strong></a> Cần hỗ trợ? Liên hệ với chúng tôi qua số điện thoại 0963102916
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <img src="/assets/images/thanh-cong.jpeg" />
                    </div>
                </div>
            </form>

        </div>
    </div>
</main>*@